---
export const prerender = true;

import Layout from "../../layouts/Layout.astro";
import { ghostClient } from "../../lib/ghost";

const posts = await ghostClient.posts
  .browse({
    limit: "all",
  })
  .catch((err: any) => {
    console.error(err);
  });
---

<Layout title="Blog" showLayoutHeader={false}>
  <section>
    <ul>
      {
        posts &&
          posts.map((post) => (
            <li class="grid items-baseline grid-cols-4 gap-4">
              <div class="flex flex-col ml-auto">
                {post.published_at && (
                  <time
                    class="ml-auto text-sm text-gray-500"
                    datetime={post.published_at}
                  >
                    {new Date(post.published_at).toLocaleDateString("en-US")}
                  </time>
                )}
              </div>
              <div class="col-span-3">
                <a
                  href={`/blog/${post.slug}`}
                  rel="prefetch"
                  class="text-2xl link"
                >
                  {post.title}
                </a>
                {post.custom_excerpt && <p>{post.custom_excerpt}</p>}
              </div>
            </li>
          ))
      }
    </ul>
  </section>
</Layout>
